body { 
		margin: 0;
	 }

td { 
		height: auto;
	 	padding-right: 15px;
   }

table { 
			width: auto; 
			min-width: 100%;
	  }


#cuerpo { 	
			width: 80%; 
			border: 8px solid white;
			height: auto; 
		   	margin: 10px auto;
		   	background-color: #336bf8;
		   	box-shadow: 1px 4px 4px 4px rgba(0,0,0,0.2);
		   	text-align: center;
		}

#tit { 
	  	width: auto;
	   	height: 200px;
	   	border-bottom: white solid 4px;
	   	padding: 0px 0px 0px 20px;
	   	font-family: 'Handlee', cursive;
	   	background-color: #104de6 !important;
	   	background: url('../img/cabimg2.png')  no-repeat;
	   	background-size: 85%;
	   	margin-bottom: 50px;
	 }



.barratit {
				background-color: yellow;
				position: absolute;
				margin: 20px 0px 0px 100px;
				width: 400px;
				height: 100px;
				padding: 5px;
				min-height: 100px;
				border-radius: 20px;
				border: 5px solid white;
				margin: 20px 0px 0px 200px;
		  }

.imgtit {

			float:left;
			display: inline;
			left: 0px;
			position: absolute;
			z-index: 2;
		}

#imgfinal, main, .instrucciones, .barratit {
			 box-shadow: 2px 2px 2px rgba(0,0,0,0.6); 
		}

#imgfinal { 
				border: 4px solid white; 
		  }

main, .instrucciones 
		 { 
			   margin: 0 auto;
			   width: 80%;
			   border: 8px solid white;
			   height: auto;
			   text-align: center;
			   background-color: #d5e5ff;
			   position: relative;
	 	 }

.instrucciones p:first-child 
		{
			background-color: #87de87;
			text-align: center;
			font-size: 35px;
			color: black;
			margin: 0;
			padding: 0;
		}

.instrucciones p:first-child, .elige 
		{
			font-family: 'Handlee', cursive;
			font-weight: bold;
			font-size: 35px;
			text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
			color: yellow;
		}

.instrucciones p+img 
		{
			border: 5px solid white;
			border-radius: 5%;
		}

p { 
	padding: 10px;
	font-family: "Handlee";
	font-size: 20px;
	font-weight: bold;
	text-align: justify;
  }


.elige {	
			width: 100%;
			height: 50px;
			background-color: #80b3ff;
	   }

.imgsheldon {
				margin-top: 10px;
				width: 220px;
				height: 200px;
				border: white solid 6px;
				border-radius: 5%; 
				box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
			}

button { 
			 width: 137px; 
			 height: 135px; 
			 border-radius: 80px; 
			 box-shadow: 5px 5px 8px rgba(0,0,0,0.4); 
			 border: none;
			 margin: 0px 10px 0px 8px;
		}

button:focus { outline: 0px; }

div main { text-align: center; }

div main button { 
		   filter: grayscale(20%); 
	       transition: All linear 0.2s; 
				}

div main img { 
				width: 100;
				height: 80;
		        margin-bottom: 30px; 
		   	    text-align: center;
		   	}


div main button:hover { transform: rotate(20deg);
		        		filter: grayscale(0%);
		        		cursor: pointer; }

div main button:active { box-shadow: 1px 1px 1px #ccc;
						 transform: translateY(5px); 
						 cursor: move;
						 }	


.marco {
			width: 200px;
			margin: 0 auto;
			text-align: center;
			display: inline-block;
}	        

.marcotxt {
			background-color: green;
			color: white;
			padding: 5px;
			font-family: "Arial";
			font-weight: bold;
			text-align: center;
}

.boton {
			background-color: green;
			border-radius: 20px;
			width: 150px;
			color: white;
			font-family: "Handlee";
			font-size: 20px;
			font-weight: bold;
			padding: 5px;
			border: 3px solid white;
			display: inline-block;
			cursor: pointer;
}

.puntos {	
			width: 15%;
			height: 60%;
			border: #a85605 5px solid;
			background: url("../img/pizarra.jpg");
			background-size: 89%;
			font-size: 23px; 
		    font-weight: bold;
			color: white;
			font-family: "Handlee";
			float: right;
			padding: 12px;
			margin: 20px 10px 0px 0px;
			box-shadow: -3px 0px 10px rgba(0,0,0,0.5);
		}

.puntos span { float: left; }

#ptssheldon, #ptstu, #ronda { float: right; 
					  		  margin-right: 50px;}


#sheldon, #jugador { 
				width: 131px; 
				background-color: red;
				height: 132px; 
	  			border-radius: 100px;
	  			box-shadow: 3px 3px 3px #ccc;
	  			margin: 10px auto;
	  		 }

#piedra { background: url('../img/iconos.png') 512px; 
		  background-color: #ff8080; }
#papel { background: url('../img/iconos.png') 652px;
		 background-color: #ffdd55; }
#tijera { background: url('../img/iconos.png') 794px; 
		  background-color: #e580ff;}
#lagarto { background: url('../img/iconos.png') 370px; 
		   background-color: #87de87;}
#spock { background: url('../img/iconos.png') 227px; 
		 background-color: #80b3ff; }

.txttit { 
		  font-size: 2em;
		  color: #ff9900;
		  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		}

.txttit2 { 
		  font-size: 1.0em;
		  color: #ff9900;
		  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		}



 span { display: block; }

.txtres {
			background-color: blue;
			padding: 10px;
			font-family: "Arial"; 
			font-weight: bold;
			border: 4px solid white;
			font-size: 20px;
			box-shadow: 2px 2px 2px 2px #ccc;
			color: white;
			width: 400px;
			margin: 0 auto;
}


@media screen and (max-width: 768px) {


		#cuerpo { 
				  width: 100%; 
				  margin: 0;
				  border: 0;
				}

		main, .instrucciones { width: 85%;  }

		.txtres { padding: 2px; 
				  width: 80%;
				  font-size: 28px;}

		#tit { height: 100px;
			   background-size: 120%; }

		.puntos span { padding: 0; }

		.puntos { 
				  font-size: 15px;
				  margin: 5px 10px 0px 0px; 
				  width: 30%;}

		#imgsheldon { width: 100%; }
}
