

header { border-bottom: 2px solid white;}

header:first-child { padding: 10px;
					 font-size: 25px;
					 font-weight: bold; 
					 height: 150px;}

#cuerpo { width: 1100px; 
			border: 10px solid white; 
			height: 800px; 
			background: url('../img/fondo web2.jpg') no-repeat center center;
		   	background-size: cover;
		   	margin: 0 auto;
		   	border-radius: 20px;
		   	box-shadow: 3px 0px 5px rgba(0,0,0,0.4); }

#tit { 
	   width: 800px; height: 150px;
	   padding: 25px 0px 0px 20px;
	   font-family: "Comic Sans MS", "Comic Sans", cursive;}

main { margin: 40px auto; 
	   border: 10px solid darkblue;
	   border-top-left-radius: 20px;
	   border-bottom-right-radius: 20px;
	   width: 800px;
	   height: 400px;
	   box-shadow: 3px 3px 3px  rgba(0,0,0,0.5);
	   background-color: white;
	    }

button { width: 137px; 
		 height: 135px; 
		 border-radius: 80px; 
		 box-shadow: 5px 5px 8px rgba(0,0,0,0.4); 
		 border: none;
		 margin: 0px 10px 0px 8px;}

button:focus { outline: 0px; }

div main { text-align: center; }

div main button { filter: opacity(60%); 
				  transition: All linear 0.2s; }

div main img { width: 100;
			   height: 80;
			   margin-bottom: 30px; 
			   text-align: center;}


div main button:hover { transform: rotate(20deg);
						filter: opacity(100%); }

#piedra { background: url('../img/iconos.png') 512px; }
#papel { background: url('../img/iconos.png') 652px; }
#tijera { background: url('../img/iconos.png') 794px; }
#lagarto { background: url('../img/iconos.png') 370px; }
#spock { background: url('../img/iconos.png') 227px; }

