body { margin: 0; }


#cuerpo { 	width: 80%; 
			border: 8px solid white;
			height: auto; 
		   	margin: 10px auto;
		   	background-color: #336bf8;
		   	box-shadow: 1px 4px 4px 4px rgba(0,0,0,0.2);
		   	text-align: left;
		  	}

#tit { 
	   width: auto;
	   height: 200px;
	   border-bottom: white solid 4px;
	   padding: 0px 0px 0px 20px;
	   font-family: 'Handlee', cursive;
	   background-color: #104de6 !important;
	   background: url('../img/cabimg2.png')  no-repeat;
	   background-size: 80%;
	   margin-bottom: 50px;
	}

.barratit {
			background-color: yellow;
			position: absolute;
			margin: 20px 0px 0px 100px;
			width: 400px;
			height: 100px;
			padding: 5px;
			min-height: 100px;
			border-radius: 20px;
			border: 5px solid white;
			box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
			margin: 20px 0px 0px 200px;
}

.imgtit {

		float:left;
		display: inline;
		left: 0px;
		position: absolute;
		z-index: 2;
}

main, .instrucciones { 
	   margin: 0 auto;
	   width: 60%;
	   border: 8px solid white;
	   height: auto;
	   text-align: center;
	   box-shadow: 3px 3px 3px  rgba(0,0,0,0.5);
	   background-color: #d5e5ff;
	   position: relative;
	 }

.instrucciones p:first-child {
	background-color: #87de87;
	text-align: center;
	font-size: 20px;
	color: black;
	margin: 0;
	padding: 8px;
}

.instrucciones p+img {
	border: 5px solid white;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
	border-radius: 5%;
}


p { padding: 10px;
	font-family: "Handlee";
	font-size: 20px;
	font-weight: bold;
	text-align: justify; }


.elige {	
			width: 100%;
			height: 50px;
			font-family: 'Handlee', cursive;
			font-weight: bold;
			font-size: 35px;
			text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
			background-color: #80b3ff;
			color: yellow;

}

.imgsheldon {
				margin-top: 10px;
				width: 220px;
				height: 200px;
				border: white solid 6px;
				border-radius: 5%; 
				box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

button { width: 137px; 
		 height: 135px; 
		 border-radius: 80px; 
		 box-shadow: 5px 5px 8px rgba(0,0,0,0.4); 
		 border: none;
		 margin: 0px 10px 0px 8px;}

button:focus { outline: 0px; }

div main { text-align: center; }

div main button { filter: grayscale(20%); 
				  transition: All linear 0.2s; }

div main img { width: 100;
			   height: 80;
			   margin-bottom: 30px; 
			   text-align: center;}


div main button:hover { transform: rotate(20deg);
		        		filter: grayscale(0%);
		        		cursor: pointer; }

div main button:active { box-shadow: 1px 1px 1px #ccc;
						 transform: translateY(5px); 
						 cursor: move;
						 }	
hr { color white; }

.marco {
			width: 200px;
			margin: 0 auto;
			text-align: center;
			display: inline-block;
}	        

.marcotxt {
			background-color: green;
			color: white;
			padding: 5px;
			font-family: "Arial";
			font-weight: bold;
			text-align: center;
}

.puntos {	
			width: 20%;
			height: 166px;
			border: #a85605 5px solid;
			background: url("../img/pizarra.jpg");
			background-size: 89%;
			font-size: 23px; 
		    font-weight: bold;
			color: white;
			font-family: "Handlee";
			float: right;
			padding: 12px;
			text-align: left;
			box-shadow: -3px 0px 10px rgba(0,0,0,0.5);
		}

.puntos span { float: left; }

#ptssheldon, #ptstu, #ronda { float: right; 
					  		  margin-right: 50px;}


#sheldon, #jugador { 
				width: 131px; 
				background-color: red;
				height: 132px; 
	  			border-radius: 100px;
	  			box-shadow: 3px 3px 3px #ccc;
	  			margin: 10px auto;
	  		 }

#piedra { background: url('../img/iconos.png') 512px; 
		  background-color: #ff8080; }
#papel { background: url('../img/iconos.png') 652px;
		 background-color: #ffdd55; }
#tijera { background: url('../img/iconos.png') 794px; 
		  background-color: #e580ff;}
#lagarto { background: url('../img/iconos.png') 370px; 
		   background-color: #87de87;}
#spock { background: url('../img/iconos.png') 227px; 
		 background-color: #80b3ff; }

.txttit { 
		  font-size: 2em;
		  color: #ff9900;
		  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		}

.txttit2 { 
		  font-size: 1.0em;
		  color: #ff9900;
		  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		}

span { display: block; 
	  }

.txtres {
			background-color: blue;
			padding: 10px;
			font-family: "Arial"; 
			font-weight: bold;
			border: 4px solid white;
			font-size: 20px;
			box-shadow: 2px 2px 2px 2px #ccc;
			color: white;
			width: 400px;
			margin: 0 auto;
}
