
.fondo 
{
	background-color: black;
	opacity: 0.4;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	position: fixed;
	top:0; 
	left:0;	
	z-index:2;
}

.lightbox
{
	background-color: white;
	border: 4px solid black !important;
	border-top-left-radius: 10%;
	border-bottom-right-radius: 10%;
	width: 600px;
	height: 500px;
	position: absolute;
	opacity: none;
	z-index: 3;
	text-align: center;
}

.close {
	float: right;
	top: 0px;
	margin: 10px 10px 0px 0px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Arial";
	cursor: pointer;
	background-color: red;
	border-radius: 50%;
	padding: 3px;
	color: white; 
}

span:hover {
	background-color: yellow;
}